*{
    margin: 0;
    padding:0;
    background-color: #1f1f1f;
    color:white;
}

.Myself{
    border:1px solid #565656;
    border-radius: 30px;
    width:24%;
    min-height: 650px;
    margin:54px 15px;
}

.intro{
    display: flex;
    margin:35px 3px;
    border:1px solid red;
}

.intro #exp{
    font-size: 0.9rem;

}