*{
    margin: 0;
    padding:0;
    background-color: #1f1f1f;
    color:white;
    font-family: 'Inter', sans-serif;
}

/* the css below is about the box in the left side */

.Myself{
    position: fixed;
    border:1px solid #565656;
    border-radius: 30px;
    min-width:24%;
    min-height: 700px;
    margin:54px 15px;
}

.intro{
    display: flex;
    margin:35px 3px;
}

#nam{
    padding-left:16px;
    font-size: 2rem;
    margin-right:60px;
}

.intro .left{
    width:64%;
    /* I tried doing float and text align and nothing seemed to work so this is like a temporary fix */
    /* to make the text go to the right side of the Intro div */
}

.intro #nam{
    padding-left: 25px;
}

.intro #exp{
    text-align: right;
    font-size: 0.95rem;
}

.image img{
    display: block;
    min-width:230px;
    max-height: 230px;
    border-radius: 30px;
    margin:5px auto;
}

.loc{
    margin-top:50px;
}

.loc span{
    display: block;
    font-size: 1.7rem;
    text-align: center;
    padding-top:6px;
}

.loc p{
    text-align: center;
    color:#999999;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top:12px;
    margin-left: 4px;
}

.butt{
    border-radius: 30px;
    min-width:50px;
    min-height: 50px;

    margin:8px 5px;
    border:1px solid #565656;
    transition: 0.3s;
}

.butt:hover{
    border:1px solid #28e98c;
}

.butt img{
    min-width: 20px;
    max-height: 20px;
    color:white;
}

.hireMe{
    margin-top:20px;
    width: 100%;
}

.hire{
    display: block;
    background-color: #28e98c;
    width:80%;
    min-height:50px;
    margin:12px auto;
    border-radius: 30px;
    color:black;
    font-size:1.2rem;

    font-weight: 200;
    transition: 0.3s;
}

.hire:hover{
    background-color: #1f1f1f;
    border: 1px solid #28e98c;
    color:#28e98c;
}

.hire img{
    display: inline;
    width:15px;
    height:15px;
    background-color:#28e98c; ;
}

/* end of the left box css */

/* the css box in the right side */

.brief{
    position: fixed;
    top:40px;
    right:50px;
    min-height:72%;
    min-width:100px;
}

#two-lines{
    display: block;
    height:50px;
    width:50px;
    border-radius:25px;
    border: 1px solid #565656;

    margin:20px auto;
}

.smol{
    display: block;
    border:none;
    width:20px;
    height:20px;

    margin:30px auto;
    color:#28e98c;
}

.mini_brief{
    border:1px solid #565656;
    padding: 8px auto;
    min-height:50vh;
    border-radius:30px;
    max-width:50%;
    margin:50px auto;
}
