*{
    margin: 0;
    padding:0;
    background-color: #1f1f1f;
    color:white;
}

.Myself{
    border:1px solid #565656;
    border-radius: 30px;
    max-width:24%;
    min-height: 650px;
    margin:54px 15px;
}

.intro{
    display: flex;
    margin:35px 3px;
}

#nam{
    padding-left:16px;
    font-size: 2rem;
    margin-right:60px;
}

.intro .left{
    width:64%;
    /* I tried doing float and text align and nothing seemed to work so this is like a temporary fix */
    /* to make the text go to the right side of the Intro div */
}

.intro #nam{
    padding-left: 25px;
}

.intro #exp{
    text-align: right;
    font-size: 0.95rem;
}

.image img{
    display: block;
    min-width:230px;
    max-height: 230px;
    border-radius: 30px;
    margin:5px auto;
}

.loc{
    margin-top:50px;
}

.loc span{
    display: block;
    font-size: 1.7rem;
    text-align: center;
    padding-top:6px;
}

.loc p{
    text-align: center;
    color:#999999;
}

.buttons{
    margin-top:12px;
    margin-left: 4px;
}

.butt{
    border-radius: 50px;
}

.butt img{
    min-width: 25px;
    max-height: 25px;
    color:white;
}

.hireMe{
    margin-top:20px;
    width: 100%;
}

.hire{
    display: block;
    background-color: #28e98c;
    width:80%;
    min-height:50px;
    margin:12px auto;
    border-radius: 30px;
    color:black;
    font-size:1.2rem;

    font-weight: 200;
}
